@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #333;
}

ul {
    list-style-type: none;
    color: white;
    padding-left: 0;
}

button {
    border-radius: 1em;
    padding: .5em 1em;
    transition-duration: .5s;
    transition-property: transform background-color;
    background-color: #444;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    transition-duration: .1s;
}

button:hover {
    background-color:#555;
    transform: scale(1.2);
}

.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 1em;
    background-color: #444;
    padding: .5em 1em;
    transition-duration: .5s;
    transition-property: border-radius;
}

.dropdown:hover {
    border-radius: 1em 1em 0 0 ;
}

.dropdown-list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 2em;
    background: #444;
    border-radius: 1em;
    text-align: center;    
}

.dropdown:hover .dropdown-list {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.dropdown-item {
    padding: .5em 1em;
    border-radius: 1em;
}

.dropdown-item:hover {
}

.widget-wrapper {
    position: absolute;
    inset: 4.5em 0 0 0;
    border-top: .5em solid #444;
}