@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #333;
}

ul {
    list-style-type: none;
    color: white;
    padding-left: 0;
}

li{
    border-radius: 1em;
    background-color: #444;
    padding: .5em 1em;
    transition-property: border-radius;
    transition-duration: .5s;
}

button {
    background-color: #444;
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    transition-duration: .5s;
}

button:hover {
    transform: scale(1.2);
}

.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 2em;
    background: #444;
    border-radius: 1em;
    text-align: center;
    
}

.dropdown-item {
    padding: .5em 1em;
    border-radius: 1em;
}

.dropdown:hover {
    border-radius: 1em 1em 0 0 ;
}

.dropdown:hover .dropdown-list {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.dropdown-item:hover {
    background:#555;
}

li:hover {
    background:#555;
}

.widget-wrapper {
    position: absolute;
    inset: 4.5em 0 0 0;
    border-top: .5em solid #444;
}